<header>
  <img src="/images/jumpstartlogo.png" alt="jumpstart_logo">
  <nav>
    <a href="/search">Search</a>
    <a href="/list">My Jobs</a>
    <a href="/aboutus">About</a>
    <a href="/">Log Out</a>
    
  </nav>
</header>
