<!DOCTYPE html>
<html lang="en">

<%- include('./partials/layout/head.ejs') %>

<body>

<header>
  <img src="/images/jumpstart.jpeg" alt="jumpstart_logo">
</header>

<%- include('./partials/layout/login.ejs') %>


</body>

</html>
