<header>
  <img src="/images/jumpstart.jpeg" alt="jumpstart_logo">
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        Status
      </li>
      <li>
        AboutUs
      </li>
    </ul>
  </nav>
</header>
