<header>
  <img src="./images/jumpstart.jpeg" alt="jumpstart_logo">
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        Status
      </li>
      <li>
        AboutUs
      </li>
    </ul>
  </nav>
  <form action="/login" method="post">
    <%- include('../login-fail') %>
    <fieldset>
      <label for="username"> username</label>
      <input type="text" name="username" placeholder="username">
      <label for="password"> password</label>
      <input type="password" name="password" placeholder="password">
      <button type="submit">
        Login
      </button>
    </fieldset>
  </form>
  <a href="/register">Create An Account</a>




</header>
