<header>
  <img src="./images/jumpstart.jpeg" alt="jumpstart_logo">
  <nav>
    <ul>
      <li>
        <a href ="/">Home</a>
      </li>
      <li>
        Status
      </li>
      <li>
        AboutUs
      </li>
    </ul>
  </nav>
  <form action="/" method="post">
    <fieldset>
      <label for="username"> user</label>
      <input type="text" placeholder="username">
      <label for="password"> password</label>
      <input type="password" placeholder="password">
      <button type="submit">
        Login
      </button>
    </fieldset>
  </form>
  <a href="/register">Create An Account</a>




</header>