@import url('/styles/globals.css');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap');

section {
  width: 80%;
  margin: 1rem auto;
  padding: 2rem;
  color: var(--jsWhite);
  background-color: var(--jsBlue);
  border: 0.1rem solid var(--jsBlack);
  border-radius: 2rem;
  font-family: 'Cormorant Garamond', serif;
  text-align: left;
  line-height: 1.2rem;
}

section > h2 {
  text-align: center;
  color: var(--jsOrange);
}

section > p {
  margin-bottom: 1rem;
}

section > p > a {
  text-decoration: none;
  color: var(--jsOrange);
}

section > p > span {
  font-weight: bold;
}

section > hr {
  width: 60%;
  margin: 1rem auto;
  border: 0.05rem solid var(--jsOrange);
}

section > a {
  text-decoration: none;
  color: var(--jsOrange);
}

button {
  width: 40%;
  margin: auto;
  margin-bottom: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: var(--jsBlack);
  background-color: var(--jsOrange);
  border: 0.1rem solid var(--jsBlack);
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 0.25rem var(--jsBlack);
}

button:hover {
  cursor: pointer;
  box-shadow: none;
}

form {
  text-align: center;
}
