<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JumpStart Job Search Engine</title>
    <link rel="stylesheet" type="text/css" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/global/header-template.css">
    <link rel="stylesheet" href="/styles/global/footer-template.css">
    <link rel="stylesheet" href="/styles/aboutus/base.css">
    <link rel="stylesheet" href="/styles/aboutus/layout.css">
    <link rel="stylesheet" href="/styles/aboutus/module.css">
</head>

<body>
    <div class="wrapper">
        <%- include('../partials/global/header.ejs') %>
        <div>
            <article class="profile">
                <img src="./images/Robert.png" alt="Robert Profile">
                <section>
                    <h2>Robert Nielsen </h2>
                    <p>I have a passion for Open Source software, and am always looking for a way to assist companies in
                        bridging the gap between their capabilities and the modern cloud environment. My goal is to help
                        organizations make the web more intuitive and accessible for their users and customers.</p>
                    <a href="https://www.linkedin.com/in/robertjnielsen/" target="_blank"><img
                            src="./images/linkedin.png" alt="linkedin icon"></a>
                    <a href="https://github.com/robertjnielsen" target="_blank"><img src="./images/github.png"
                            alt="github icon"></a>
                    <a href="mailto:robert.j.nielsen@outlook.com"><img src="./images/email.png" alt="email icon"></a>
                    <div class='container'>
                    </div>
                </section>
            </article>
            <article class="profile">
                <img src="./images/Vij.png" alt="Vij Profile">
                <section>
                    <h2>Vij Rangarajan </h2>
                    <p>Full stack software developer with proficiency in JS, SQL, HTML and CSS and interest in backend.
                        Goal to leverage medical background and impact healthcare industry with focus on improving user
                        experience and data proficiency.</p>
                    <a href="https://www.linkedin.com/in/vijayetarangarajan/" target="_blank"><img
                            src="./images/linkedin.png" alt="linkedin icon"></a>
                    <a href="https://github.com/vijayetar" target="_blank"><img src="./images/github.png"
                            alt="github icon"></a>
                    <a href="mailto:vijayetar@gmail.com"><img src="./images/email.png" alt="email icon"></a>
                    <div class='container'>
                    </div>
                </section>
            </article>
            <article class="profile">
                <img src="./images/Jin.jpeg" alt="Jin Profile">
                <section>
                    <h2>Jin Kim</h2>
                    <p>I studied Biology and got my bachelor degree in intent to apply for dental school. Meantime, I
                        had worked as dental assistant and learned about dealing with people with different personality
                        and able to convey my message effectively. I always had an aspiration to tech industry and hope
                        was always commended for being a tech savy. I enjoy problem solving and challenging problem and
                        solving them brings me sense of accomplishment. Therefore, I looking to challenge myself in tech
                        industry and hopefully be a problem solver for your organization.</p>
                    <a href="https://www.linkedin.com/in/jin-kim-771213162/" target="_blank"><img
                            src="./images/linkedin.png" alt="linkedin icon"></a>
                    <a href="https://github.com/jinwoov" target="_blank"><img src="./images/github.png"
                            alt="github icon"></a>
                    <a href="mailto:jinwoov@gmail.com"><img src="./images/email.png" alt="email icon"></a>
                    <div class='container'>
                    </div>
                </section>
            </article>
        </div>
        <%- include('../partials/global/footer.ejs') %>
    </div>
</body>

</html>
