<!DOCTYPE html>
<html lang="en">
        <%- include('../partials/global/head.ejs') %>

<body>
    <%- include('../partials/global/header.ejs') %>
    SUCESS inside the list ejs!




</body>

</html>
