<!DOCTYPE html>
<html lang="en">

<body>
    SUCESS inside the list ejs!
    results.forEach(tabledata => {
        <li><%- tabledata.tags%></li>
        <li><%- tabledata.location%></li>
        <li><%- tabledata.title%></li>



    })




</body>

</html>
