<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/layout/head.ejs') %>
<body>
    <main>
        <%- include('../partials/layout/header.ejs') %>
        <h1>Get a Job <%= username%>. You lazy BUM</h1>
        <form action="/searches/new" method="post">
            <label for="location">
                <p>Input location to search for Job </p>
                <input type="text" placeholder="search location" name="location" required>
            </label>
            <label for="keyword">
                <p>Input job title to narrow down the search </p>
                <input type="text" placeholder="job title" name="job_title">
            </label>
                <button type='submit'>Search</button>
        </form>
    </main>
</body>
</html>