<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  Success! Show.ejs
  <ul>
  <% jobs.forEach((jobObj) => {%>
    <li><%= jobObj.title %></li>
    <li><%= jobObj.location %></li>
    <li><%- jobObj.description %></li>
  <% })%>
</ul>
</body>
</html>