/************************************/
/* Global CSS Variable Declarations */
/************************************/
:root {
  --jsBlue: rgb(0, 60, 120);
  --jsGreen: rgb(0, 212, 39);
  --jsPurple: rgb(212, 0, 173);
  --jsOrange: rgb(212, 145, 0);
  --jsWhite: rgb(240, 240, 240);
  --jsBlack: rgb(40, 40, 40);
}
