header > img {
  float:left;
  margin: 10px 0px 10px 0px;
}

nav>ul {
  display: flex;
  flex-wrap: wrap;
}

li{
  margin: 10px;
}
form {
  clear: both;
}
fieldset{
  display:flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding: 10px;
  text-align: center;
  border: none;
}
input{
  text-align: center;
  margin: auto;

}
label, input {
  padding: 10px;
}

button{
  margin: auto;
  margin-top: 30px;
}

.data-card {
  clear: both;
  border: 1px black solid;
  text-align: center;
  width: 80%;
  margin: 20px auto;
}

.new-data > section {
  clear: both;
  border: 1px black solid;
  text-align: center;
  width: 80%;
  margin: 20px auto;
}

.data-card > p {
  margin: 5px auto;
}

.detail-data {
  clear:both;
}

.detail-data button {
  background-color: yellow;
  color: grey;
}


